.idea

# Dependencies
node_modules

# Expo
.expo
dist
web-build

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# OS files
.DS_Store

# Environment files (if not needed in build)
.env
.env.local
.env.development

# Git
.git
.gitignore

# Android / iOS native folders (only ignore if using managed workflow)
android
ios